.layout{

    display:flex;

    width:100%;

    min-height:100vh;

    background:#F4F6F8;

}

.layout-main{

    flex:1;

    display:flex;

    flex-direction:column;

}

.layout-content{

    flex:1;

    padding:25px;

    overflow:auto;

}
